$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

.generic-btn {
  background-color: $primary-color;
  border: 0;
  border-radius: 0;
  color: #80868b;
  background-color: #f0f0f1;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem 1rem;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
  width: 100%;

  &:hover {
    background-color: $primary-color;
    color: #f0f0f1;
  }
  .icon {
    margin-right: 0.5rem;
  }
}
