$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

.trending-card {
  margin: 1rem;
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  .course-category {
    font-size: 0.7rem;

    text-transform: uppercase;
    font-weight: 600;
    background-color: #2ca396;
    position: absolute;
    letter-spacing: 0.1rem;
    padding: 0 0.8rem;
    top: 14.6rem;
    left: 2.5rem;
    .course-category-text {
      color: white;
      margin: 0.3rem 0;
    }
  }

  .trending-card-img {
    width: 346px;
    height: 250px;
  }

  .card-body {
    padding: 1rem 2.5rem;

    .card-author {
      margin: 1rem 0;
      .card-author-img {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      .card-author-name {
        font-size: 0.9rem;
        color: $secondary-text-color;
        margin: 0.5rem 0;
      }
    }

    .card-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary-text-color;
      margin: 0.8rem 0;
    }

    .card-description {
      // border-top: $primary-text-color;
      // border-top-width: 0.01rem;
      // border-top-style: solid;
      border-bottom: $primary-color;
      border-bottom-width: 0.01rem;
      border-bottom-style: solid;
      padding: 1rem 0;

      .card-description-text {
        font-size: 0.8rem;
        color: $secondary-text-color;
        margin: 0.5rem 0;
      }
    }

    .card-price {
      text-align: end;
      font-size: 1rem;
      font-weight: 600;
      color: $primary-text-color;
      margin: 0.8rem 0;
    }
    .card-footer {
      border: 0;
      padding: 0;
      .card-footer-text {
        font-size: 0.8rem;
        color: $secondary-text-color;
        margin: 0.5rem 0;
      }
    }
  }
}
