$default-font: "Lato";
$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato";
}

.App {
  font-family: $default-font, sans-serif;
}

textarea {
  resize: none;
}
