$font-stack: "Open Sans";
$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

.greeting-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  .greeting-text {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-text-color;

    .greeting-heading {
      font-size: 4rem;
      font-weight: 900;
      color: $primary-text-color;
      .primary {
        color: $primary-color;
      }
    }
    .greeting-subheading {
      font-size: 1.5rem;
      font-weight: 400;
      color: $secondary-text-color;
    }
  }

  .generic-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    background-color: $primary-color;
    color: white;
    border-radius: 0;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.trending-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2da397;
  margin-top: 5rem;
  position: relative;
  text-align: center;

  .trending-title-one {
    padding: 5rem 0;
  }
  .trending-title-heading {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    width: 100%;
  }
}

.trending-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}
