$font-stack: "Open Sans";
$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

.greeting-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  .greeting-text {
    font-size: 2rem;
    font-weight: 700;
    color: $primary-text-color;

    .greeting-heading {
      font-size: 4rem;
      font-weight: 900;
      color: $primary-text-color;
      .primary {
        color: $primary-color;
        background: linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
          );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;

        transition: background-size 0.3s ease-in-out;
        &:hover {
          background-size: 0 3px, 100% 3px;
        }
      }
    }
    .greeting-subheading {
      font-size: 1.5rem;
      font-weight: 400;
      color: $secondary-text-color;
    }
  }

  .generic-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    background-color: $primary-color;
    color: white;
    border-radius: 0;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

.subtext {
  font-size: 1.3rem;
  font-weight: 700;
  color: $primary-text-color;
}
.trending-title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2da397;
  margin-top: 5rem;
  position: relative;
  text-align: center;
  box-shadow: inset 0 0 0 0 #80868b;

  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    color: $primary-text-color;
    box-shadow: inset 0 -20rem 0 0 $primary-color;
  }

  .trending-title-one {
    padding: 5rem 0;
    &:hover {
      color: $primary-text-color;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }
  }
  .trending-title-heading {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    width: 100%;
  }
}

.trending-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
}
