.top-banner {
  padding-top: 15rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-image: url(https://img.freepik.com/premium-photo/open-book-with-glasses-wooden-table-against-background-set-books-vintage-toning-web-banner-literature-learning-concept_101969-2143.jpg?w=2000);

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #011928;
    opacity: 0;
  }

  .banner-title {
    .banner-title-text {
      font-size: 8rem;
      font-weight: 900;
      color: white;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: 768px) {
  .top-banner {
    padding-top: 8rem;
    .banner-title {
      .banner-title-text {
        font-size: 4rem;
      }
    }
  }
}
