$primary-color: #f06001;
$secondary-color: #2ca396;
$primary-text-color: #002337;
$secondary-text-color: #80868b;

.top-banner {
  padding-top: 15rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #f06001;
  background-repeat: repeat;
  background-size: 200px;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  filter: brightness(1);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background-size: 180px;
    background-image: url(../../../assets//book.svg);
    opacity: 0.4;
  }

  .banner-title {
    .banner-title-text {
      font-size: 8rem;
      font-weight: 900;
      color: white;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 768px) {
  .top-banner {
    padding-top: 8rem;
    .banner-title {
      .banner-title-text {
        font-size: 4rem;
      }
    }
  }
}
